<div class="wrapper ">
    <div>
        <app-sidenav></app-sidenav>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <div>
            <app-navbar></app-navbar>
        </div>
        <!-- End Navbar -->
       
       <div class="content">
        <div class="container-fluid">
             <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img" src="../assets/img/faces/marc.jpg" />
                  </a>
                </div>
                <div class="card-body">
                  <h4 class="card-title">{{name}}</h4>
                   <h4 class="card-title">{{email}}</h4>
                    <h4 class="card-title">{{phone}}</h4>
                 
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">LandLord History</h4>
                  
                </div>
                <mat-tab-group>
                    <mat-tab label="Properties">
                    
                    </mat-tab>
                    <mat-tab label="Payments">
                        <mat-tab-group>
                            <mat-tab label="Payments History">
                                <div class="card-body table-responsive ">

                                    <table class="table table-hover">
                                        <thead class="text-warning">
                                            <th>Date Paid</th>
                                            <th>Mode of Payment</th>
                                            <th>Payment ID</th>
                                            <th>Year</th>
                                            <th>Month</th>
                                            <th>Amount Paid</th>
                                            <th>Arrears</th>
                                        
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let payment of payments">
                                                <td>{{payment.datePaid.toDate() | date}}</td>
                                                <td>{{payment.modeofpayment}}</td>
                                                <td>{{payment.paymentid}}</td>
                                                <td>{{payment.year}}</td>
                                                <td>{{payment.month}}</td>
                                                <td>{{payment.amount}}</td>
                                                <td>{{payment.arrears}}</td>
                                            
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </mat-tab>
                            <mat-tab label="Make Payment">
                                <div class="card-body">
                                <form [formGroup]="receivePaymentForm">
                                
                                    <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                        <label class="bmd-label-floating">Mode of Payment</label>
                                        <select type="text" formControlName="modeofpayment" class="form-control">
                                            <option value="January">Cash</option>
                                            <option value="February">Mpesa</option>
                                        
                                        </select>
                                        </div>
                                    </div>
                                        <div class="col-md-5">
                                        <div class="form-group">
                                        <label class="bmd-label-floating">Month</label>
                                        <select type="text" formControlName="month" class="form-control">
                                            <option value="January">January</option>
                                            <option value="February">February</option>
                                            <option value="March">March</option>
                                            <option value="April">April</option>
                                            <option value="May">May</option>
                                            <option value="June">June</option>
                                            <option value="July">July</option>
                                            <option value="August">August</option>
                                            <option value="September">September</option>
                                            <option value="October">October</option>
                                            <option value="November">November</option>
                                            <option value="December">December</option>
                                        </select>
                                        </div>
                                    
                                    </div>
                                
                                    <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                        <label class="bmd-label-floating">Amount(KES)</label>
                                        <input type="number" formControlName="amount" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                        <label class="bmd-label-floating">Payment ID</label>
                                        <input type="text" formControlName="paymentid" class="form-control">
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                                
                                    <button type="submit" (click)="submit()"class="btn btn-primary pull-right">Make Payment</button>
                                    <div class="clearfix"></div>
                                </form>
                                </div>
                            </mat-tab>
                    </mat-tab-group>
                    </mat-tab>
                     <mat-tab label="Requests">
                    </mat-tab>
                     <mat-tab label="Complaints">
                    </mat-tab>
                  </mat-tab-group>
               
            
              </div>
            </div>
           
          </div>
        </div>
      </div>
        <footer class="footer">
            <div class="container-fluid">
                <nav class="float-left">
                    <ul>
                        <li>
                            <a href="https://www.creative-tim.com">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="https://creative-tim.com/presentation">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="https://www.creative-tim.com/license">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright float-right">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>, made with <i class="material-icons">favorite</i> by
                    <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
                </div>
            </div>
        </footer>
    </div>
</div>
<div class="fixed-plugin">
    <div class="dropdown show-dropdown">
        <a href="#" data-toggle="dropdown">
            <i class="fa fa-cog fa-2x"> </i>
        </a>
        <ul class="dropdown-menu">
            <li class="header-title"> Sidebar Filters</li>
            <li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger active-color">
                    <div class="badge-colors ml-auto mr-auto">
                        <span class="badge filter badge-purple" data-color="purple"></span>
                        <span class="badge filter badge-azure" data-color="azure"></span>
                        <span class="badge filter badge-green" data-color="green"></span>
                        <span class="badge filter badge-warning" data-color="orange"></span>
                        <span class="badge filter badge-danger" data-color="danger"></span>
                        <span class="badge filter badge-rose active" data-color="rose"></span>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li class="header-title">Images</li>
            <li class="active">
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-1.jpg" alt="">
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-2.jpg" alt="">
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-3.jpg" alt="">
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-4.jpg" alt="">
                </a>
            </li>

        </ul>
    </div>
</div>