 <div class="wrapper ">
    <div>
      <app-sidenav></app-sidenav>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
        <app-navbar></app-navbar>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">Issues/Concerns</h4>
                <p class="card-category">Use this section to raise issues to the agent</p>
            </div>
            <div class="card-body table-responsive ">
                <mat-tab-group>
                    <mat-tab label="My Concerns">
                        <table class="table table-hover">
                    <thead class="text-warning">
                        <th>Issue</th>
                        <th>Description</th>
                        <th>Date Raised</th>
                        <th>Status</th>
                       
                    
                    </thead>
                    <tbody>
                        <tr *ngFor="let issue of issues">
                            <td>{{issue.title}}</td>
                            <td>{{issue.description}}</td>
                            <td>{{issue.date.toDate() | date}}</td>
                            <td>{{issue.status}}</td>
                           
                        </tr>

                    </tbody>
                </table>
                    </mat-tab>
                     <mat-tab label="Raise an Concerns">
                        <div class="card-body">
                                <form [formGroup]="issuesForm">
                                
                                    <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                        <label class="bmd-label-floating">Title</label>
                                        <input type="text" formControlName="title" class="form-control">
                                       
                                        </div>
                                    </div>
                                    </div>
                                        
                                    <div class="row">
                                    <div class="form-group">
                                      <label class="bmd-label-floating">Description</label>
                                        <textarea id="w3mission" formControlName="description" rows="4" cols="50">
                                        
                                        </textarea>
                                        </div>
                                    </div>
                                   
                                
                                    <button type="submit" (click)="submit()"class="btn btn-primary pull-right">Receive Payment</button>
                                    <div class="clearfix"></div>
                                </form>
                                </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>

        
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  Creative Tim
                </a>
              </li>
              <li>
                <a href="https://creative-tim.com/presentation">
                  About Us
                </a>
              </li>
              <li>
                <a href="http://blog.creative-tim.com">
                  Blog
                </a>
              </li>
              <li>
                <a href="https://www.creative-tim.com/license">
                  Licenses
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, made with <i class="material-icons">favorite</i> by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
          </div>
        </div>
      </footer>
    </div>
  </div>
  <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
      <a href="#" data-toggle="dropdown">
        <i class="fa fa-cog fa-2x"> </i>
      </a>
      <ul class="dropdown-menu">
        <li class="header-title"> Sidebar Filters</li>
        <li class="adjustments-line">
          <a href="javascript:void(0)" class="switch-trigger active-color">
            <div class="badge-colors ml-auto mr-auto">
              <span class="badge filter badge-purple" data-color="purple"></span>
              <span class="badge filter badge-azure" data-color="azure"></span>
              <span class="badge filter badge-green" data-color="green"></span>
              <span class="badge filter badge-warning" data-color="orange"></span>
              <span class="badge filter badge-danger" data-color="danger"></span>
              <span class="badge filter badge-rose active" data-color="rose"></span>
            </div>
            <div class="clearfix"></div>
          </a>
        </li>
        <li class="header-title">Images</li>
        <li class="active">
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <img src="../assets/img/sidebar-1.jpg" alt="">
          </a>
        </li>
        <li>
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <img src="../assets/img/sidebar-2.jpg" alt="">
          </a>
        </li>
        <li>
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <img src="../assets/img/sidebar-3.jpg" alt="">
          </a>
        </li>
        <li>
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <img src="../assets/img/sidebar-4.jpg" alt="">
          </a>
        </li>
      
     
      </ul>
    </div>
  </div>