<mat-toolbar color="teal">
    <span class="alreadyPartner"><a routerLink=''>E Agency</a></span>
    
    <span class="filler"></span>
    <span class="alreadyPartner">Do you have any property?</span>

    <div class="push">
        
        <span>
            <a routerLink="/auth/register">
                <button class="tenantregister">List property</button>
            </a>
        </span>

    </div>

</mat-toolbar>
<div class="register">

<div class="agreement">
    Sign in to manage your account
</div>

    <mat-card>

        <!-- <p>Do not have an account?</p> -->
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="mat-content" [formGroup]="login">
                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
               
                <mat-form-field>
                    <input type="password" matInput placeholder="password" formControlName="password">
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Login</button>
        </mat-card-actions>
    </mat-card>

    <div class="trouble">
        Trouble logging in?
    </div>
</div>