.text, .links {
    float: left;
}

.text {
    width: 70%;
}

.links {
    width: 30%;
}

.dropdown {
    width: 100%;
}
.push {
	display: flex;
	/* flex-direction: row; */
	gap: 30px;
}
.imgC{
    width: 450px;
    height: 300px;

}
.btn_rent {
    background-color: teal;
	padding: 5px;
	border-radius: 5px;
	width: 150px;
	display: flex;
	text-align: center;
	align-content: center;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
.pf{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}
mat-card{

}
.imgCol{
	display: flex;
	flex-direction: row;
	padding: 30px 20px 10px;
	flex-wrap: wrap;


}