.filler {
	flex: 1 1 auto;
}
.gap {
	margin-right: 10px;
}
.push{
	display: flex;
	/* flex-direction: row; */
	gap: 30px;
}

.hero {
	display: flex;
	background-image: url('../../assets/img/hero.jpg');
	height: 70%;
	align-items: center;
	justify-content: center;
}

.register {
	max-width: 50%;
}

h2 {
	color: #2196f3;
	font-size: 18px;
}

.register {
	display: flex;
	flex-direction: row;
}
.landlordregister {
	background-color: teal;
	padding: 5px;
	border-radius: 5px;
	width: 150px;
	display: flex;
	text-align: center;
	align-content: center;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
.tenantregister {
	background-color: #2196f3;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
	width: 150px;
	display: flex;
	align-content: center;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
button {
	/* padding: 10px; */
	flex: 1;
	display: flex;
	
}
.gap {
	gap: 20%;
}
/* .mcard{
	background-color: blue;
	display: flex;
	color: white;
	height: 200px;
}
mat-card{
	display: flex;
	max-width: 400px;
	flex-direction: row;
	align-items: flex-start;
	

} */
mat-card{
	max-width: 400px;
}
  
  .example-header-image {
	background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
	background-size: cover;
  }
  mat-card-actions {
    display: flex;
    justify-content: space-between;
}
.irow{
	display: flex;
	flex-direction: row;
	padding: 30px 20px 10px ;
	flex-wrap: wrap;
}
.details{
	width: 200px;
	
	color: black;
	align-items: flex-start;
	/* align-content: center; */
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	
}
.details.content{
	/* align-items: flex-end; */
}

.child {
	/* flex: 1 0 21%; /* explanation below */
	width:  25%;
	padding: 20px 20px 20px;
  }

  .btn_view{
	  display: flex;
	  align-content: center;
	  text-align: center;
	  background-color: #2196f3;
	  color: white;
	  cursor: pointer;
  }

  .btn_rent{
	display: flex;
	color: white;
	align-content: center;
	text-align: center;
	background-color: teal;
	cursor: pointer;
  }
  .rent{
	  font-size: 18;
	  font-style: bold;
	  color: teal;

  }