.filler {
	flex: 1 1 auto;
}
.gap {
	margin-right: 10px;
}

.hero {
	display: flex;
	background-image: url('../../assets/img/hero.jpg');
	height: 70%;
	align-items: center;
	justify-content: center;
}

.register {
	max-width: 50%;
}

h2 {
	color: #2196f3;
	font-size: 18px;
}

.register {
	display: flex;
	flex-direction: row;
}
.landlordregister {
	background-color: #00796b;
	padding: 10px;
	border-radius: 5px;
	width: 250px;
	display: flex;
	text-align: center;
	align-content: center;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
.tenantregister {
	background-color: #2196f3;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
	width: 250px;
	display: flex;
	align-content: center;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
button {
	padding: 10px;
	flex: 1;
	display: flex;
	width: 100%;
}
.gap {
	gap: 20%;
}
