<mat-toolbar color="white">
    <span class="gap">E Agency</span>

    <span class="filler"></span>
    <div class="push">
        <span>
            <a routerLink="/auth/register">
                <button class="landlordregister">List property</button>
            </a>
        </span>
        <span>
            <a routerLink="/auth/login">
                <button class="tenantregister">Login</button>
            </a>
        </span>

    </div>

</mat-toolbar>

<div class="hero">
    <div class="text">

    </div>
</div>
<div>
    <div class="irow">

        <div class="col-sm-3 child" *ngFor="let property of properties;">
            <mat-card class="example-card">
                <mat-card-header>

                    <mat-card-title>KES: {{property.Rent}} <span> /month</span></mat-card-title>
                    <mat-card-subtitle class="rent">{{property.category}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src='{{property.imageUrl}}' alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                      
                    </p>
                    <div class="details">
                        <mat-label>
                            <mat-icon>map</mat-icon>
                            {{property.county}}, {{property.Town}}, {{property.location}}
                        </mat-label>
                        
                    </div>
                   
                </mat-card-content>
                <mat-card-actions>
                   <a routerLink='/{{property.propertyId}}/view-details'> <button class="btn_view" mat-button>VIEW</button></a>
                   <a routerLink='/{{property.propertyId}}/book'> <button class="btn_rent" mat-button>RENT</button></a>
                </mat-card-actions>
            </mat-card>
        </div>


    </div>

</div>