.login-main{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.login-main mat-card{
    min-width: 40%;
}
.hide{
    display: none;
}
.aln{
    display: flex;
    flex-direction: column;
}
mat-toolbar{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
   
}
/* mat-toolbar.div{
    padding-left: 30%;
    /* display: flex;
    align-content: space-between; */

/*     
} */ 
a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}

.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    flex-direction: row;
    
    

}


   
 