<div class="wrapper ">
    <div>
        <app-sidenav></app-sidenav>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <div>
            <app-navbar></app-navbar>
        </div>
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="card">
                        <div class="card-header card-header-warning">
                            <h4 class="card-title">Properties</h4>
                            <p class="card-category"></p>
                        </div>
                        <div class="card-body table-responsive ">

                            <table class="table table-hover">
                                <thead class="text-warning">
                                    <th>Name</th>
                                    <th>Property Image</th>
                                    <th>Country</th>
                                    <th>County</th>
                                    <th>location</th>
                                    <th>category</th>
                                    <th>Available Slots</th>
                                    <th>Action</th>
                                    <th>View</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let prop of property">
                                        <td>{{prop.propertyName}}</td>
                                        <td><img height="100px" width="100px" src ="{{prop.imageUrl}}">
                                        </td>
                                        <td>{{prop.country}}</td>
                                        <td>{{prop.county}}</td>
                                        <td>{{prop.location}}</td>
                                        <td>{{prop.category}}</td>
                                        <td>{{prop.AvailableSlots}}</td>
                                        <td><a routerLink = '/landlord/{{prop.propertyId}}/uploadimage'>uploadimage
                                                <mat-icon>publish</mat-icon>
                                            </a>
                                        </td>
                                        <td><a routerLink='/landlord/{{prop.propertyId}}/propertydetails'>
                                                <mat-icon>visibility</mat-icon>
                                            </a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>

        </div>
        <footer class="footer">
            <div class="container-fluid">
                <nav class="float-left">
                   
                </nav>
                <div class="copyright float-right">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>, made with <i class="material-icons">favorite</i> 
                </div>
            </div>
        </footer>
    </div>
</div>
<div class="fixed-plugin">
    <div class="dropdown show-dropdown">
        <a href="#" data-toggle="dropdown">
            <i class="fa fa-cog fa-2x"> </i>
        </a>
        <ul class="dropdown-menu">
            <li class="header-title"> Sidebar Filters</li>
            <li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger active-color">
                    <div class="badge-colors ml-auto mr-auto">
                        <span class="badge filter badge-purple" data-color="purple"></span>
                        <span class="badge filter badge-azure" data-color="azure"></span>
                        <span class="badge filter badge-green" data-color="green"></span>
                        <span class="badge filter badge-warning" data-color="orange"></span>
                        <span class="badge filter badge-danger" data-color="danger"></span>
                        <span class="badge filter badge-rose active" data-color="rose"></span>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li class="header-title">Images</li>
            <li class="active">
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-1.jpg" alt="">
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-2.jpg" alt="">
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-3.jpg" alt="">
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-4.jpg" alt="">
                </a>
            </li>

        </ul>
    </div>
</div>